{% extends "base.html" %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.1.1/css/ol.css" type="text/css">
    <style>
      .map {
        height: 400px;
        width: 100%;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.1.1/build/ol.js"></script>
    <title>Title</title>
</head>

{% block content %}
    Cidade: {{ city.name }}
    <br>
    Estado: {{ city.provincy }}
    <br>
    PIB: {{ city.pib }}
    <br>
    <h2>Map:</h2>
    <div id="map" class="map"></div>
    <script type="text/javascript">
      console.log({{lat}}, {{lng}})
      var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([{{lng}}, {{lat}}]),
          zoom: 10
        })
      });
    </script>
{% endblock %}
