<html>
    <head>
      <title> Projeto CSI-02 </title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <style>
          body {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .home__input-wrapper {
              width: 600px;
          }
          .container {
              max-width: 100vw;
              width: 100vw;
              margin: 0;
              height: 100vh;
          }
          .sidebar {
              border: 1px solid #000;
          }
          .row {
              height: 100vh;
          }
      </style>
    </head>
    <body>
        <form method="POST">
            <div class="home__input-wrapper input-group mb-3">
                <input type="text" class="form-control" placeholder="Nome da cidade" aria-describedby="basic-addon2" name="nome_da_cidade">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-secondary" type="button">Buscar</button>
                </div>
            </div>
        </form>
            <!-- <div class="container">
                <div class="row">
                    <div class="sidebar col-3">
                        One of three columns
                    </div>
                    <div class="col-9">
                        One of three columns
                    </div>
                </div>
            </div> -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.1.1/build/ol.js"></script>
    </body>
</html>